@{
    ViewData["Title"] = "Acesso Negado";
}

<h1 class="text-center">Acesso negado!</h1>
<h4 class="text-center">Esta página só pode ser acessada por administradores</h4>
<a class="text-center" href="/Home/Index">Voltar ao início</a>